<!-- file list -->
{{ range $key, $file := .Files }}

<div class="col-sm-6">

    <div class="panel panel-default">
        <div class="panel-body">
            
            <div class="media">
                <div class="media-left">
                    <a href="/static/content/{{ $file.UUID }}.{{ $file.Extension }}" target="_blank">
                        <img class="media-object" src="/static/content/{{ $file.UUID }}.{{ $file.Extension }}">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading"><u>{{ $file.Name }}.{{ $file.Extension }}</u></h4>
                    <p><strong>{{ $file.Description }}</strong></p>
                    
                    <!-- tags -->
                    {{ if $file.Tags }}
                        <p>Tags:
                        {{ range $key, $tag := $file.Tags }}
                            <span class="label label-success">{{ $tag }}</span>
                        {{ end }}
                        </p>
                    {{ end }}
        
                    <!-- people -->
                    {{ if $file.People }}
                        <p>People:
                        {{ range $key, $person := $file.People }}
                            <span class="label label-primary">{{ $person }}</span>
                        {{ end }}
                        </p>
                    {{ end }}
                </div>
            </div>
            
        </div>
    </div>
</div>

{{ end }}