/* typefaces */
body, html {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.04em;
    line-height: 170%;
}
h1, h2, h3 {
    font-family: 'Pacifico', cursive;
}
.navbar-brand {
    font-family: 'Pacifico', cursive;
    padding: 15px 25px;
}
.toggle-group label {
    font-weight: bold;
    padding-top: 9px;
}

/* generic */
.container-fluid {
    margin-top: 50px;
}
.result-panel {
    max-height: 145px;
    overflow: hidden;
    margin-bottom: 15px;
}
.section-header {
    margin-top: 25px;
    margin-bottom: 25px;
}
.help-block {
    display: inline;
}
.media img {
    width: 115px;
    height: 115px;
}

/* search */
#search-results-panel #results-panel-body {
    padding-bottom: 0;
}
.detail-wall .wall-tile {
    width: 100%;
    height: 115px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.detail-wall .wall-tile-media {
    width: 113px;
    height: 113px;
    float: left;
    position: relative;
    margin-right: 2px;
}
.detail-wall .wall-tile-media img {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
}
.detail-wall .wall-tile-desc {
    height: 100%;
    padding: 5px;

    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.detail-wall .tile-desc-scroll {
    float: none;
    display: inline-block;
}
.detail-wall .wall-tile-desc h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.detail-wall .wall-tile-desc p {
    margin-bottom: 2px;
}

.results-window h3 {
    margin-top: 100px;
    margin-bottom: 120px;
}

/* overlay window */
#overlay-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e7e7e7;
    padding: 73px 20px 20px;
    width: 100%;
    height: 100%;
    z-index: 5;
}
#overlay-inner {
    position: relative;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    overflow: auto;
    margin-bottom: 80px;
    padding: 15px;
}
#overlay-close-btn {
    position: fixed;
    right: 30px;
    top: 70px;
    width: 45px;
    height: 45px;
    font-size: 25px;
    margin: 5px;
    padding-top: 7px;
    padding-left: 10px;
}

/* upload & search pages */
.dz-error-message, .dz-error-message:hover {
    opacity: 1;
}
#upload-results-panel .upload-buttons {
    text-align: right;
}
#upload-results-panel .img-details {
    padding: 0 15px;
}

#search-results-panel .results-window .panel-body {
    padding: 0;
}
#search-results-panel .results-window .media-left {
    padding: 0;
}
.free-wall-tile {
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    color: #333;
}
.free-wall-tile .img {
    width: 100%;
    max-width: 100%;
    display: block;
}
.free-wall {
    margin: 0 15px 15px 15px;
}
.free-wall-tile {
    width: 221.2px;
}
.free-wall-tile img {
    margin: 0;
    padding: 0;
    display: block;
}

@media (max-width: 767px) {
    #upload-results-panel .img-preview {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    #upload-results-panel .img-preview img {
        width: 50%;
    }
}
@media (min-width: 768px) {
    /* search results */
    .results-window .col-sm-6:nth-child(odd),
    .results-window .col-sm-3:nth-child(4n+1),
    .results-window .col-sm-3:nth-child(4n+2),
    .results-window .col-sm-3:nth-child(4n+3) {
        padding-right: 7px;
    }
    .results-window .col-sm-6:nth-child(even),
    .results-window .col-sm-3:nth-child(4n+2),
    .results-window .col-sm-3:nth-child(4n+3),
    .results-window .col-sm-3:nth-child(4n+4) {
        padding-left: 8px;
    }
    #search-panel .form-group {
        padding: 10px 10px 0 10px;
        margin-bottom: 0;
    }
    #search-panel .panel-body {
        padding-top: 0;
        padding-bottom: 10px;
    }
    .toggle.btn {
        margin-top: 23px;
    }

    /* upload results */
    #upload-results-panel .upload-result-container {
        display: table;
        width: 100%
    }
    #upload-results-panel .img-preview {
        width: 180px;
        display: table-cell;
        position: relative;
    }
    #upload-results-panel .img-preview img {
        width: 100%;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    #upload-results-panel .img-details {
        width: auto;
        display: table-cell;
    }
    #upload-results-panel .img-details label {
        padding-right: 0;
    }
    #upload-results-panel .upload-btn-container {
        margin-bottom: 0;
    }
}

/* bootstrap remove rounded corners */
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* login & reset password page */
#login-container, #reset-password-container {
    background-color: rgba(217, 237, 247, 0.63);
    height: 100vh;
    padding-top: 50px;
    overflow: hidden;
}
#login-container h2, #reset-password-container h2 {
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}
#login-container button, #reset-password-container button {
    width: 100%;
    margin-bottom: 15px;
}
#login-container .alert, #reset-password-container .alert {
    margin-top: 15px;
    margin-bottom: 0;
}

/* loading spinner */
.glyphicon.spinning {
    position: relative;
    top: 2px;

    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* dropzone */
.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;

    opacity: 1.0;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
.dropzone:hover {
    opacity: 0.6;
    transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -webkit-transition: opacity .3s ease-in-out;
}
.dropzone .dz-message {
    font-weight: 400;
}
.dropzone .dz-message .note {
    font-size: 1em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}