/* bootstrap remove rounded corners */
* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* typefaces */
body, html {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.04em;
    line-height: 170%;
}
h1, h2, h3 {
    font-family: 'Pacifico', cursive;
}
.navbar-brand {
    font-family: 'Pacifico', cursive;
    padding: 15px 25px;
}
.toggle-group label {
    font-weight: bold;
    padding-top: 9px;
}

/* generic */
.container-fluid {
    margin-top: 50px;
}
.result-panel {
    max-height: 145px;
    overflow: hidden;
    margin-bottom: 15px;
}
.section-header {
    margin-top: 25px;
    margin-bottom: 25px;
}
.help-block {
    display: inline;
}
.media img {
    width: 115px;
    height: 115px;
}
.glyphicon-space {
    padding-right: 15px;
}

/* search */
#search-results-panel #results-panel-body {
    padding-bottom: 0;
}
#search-panel {
    margin-bottom: 15px;
    height: 0;
}
.img-fade {
    opacity: 1.0;
}
.img-fade:hover {
    opacity: 0.8;
}
.overlay-media img, .overlay-media video {
    max-width: 100%;
}
.overlay-media audio {
    width: 100%;
}
.wall-tile {
    width: 100%;
    height: 115px;
    border: 1px solid #ddd;
    margin-bottom: 15px;
}
.wall-tile-media {
    width: 115px;
    height: 101%;
    float: left;
    position: relative;
    overflow: hidden;
}
.wall-tile-media img {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(0%, -51%);
    object-fit: cover;
    min-width: 100%;
    min-height: 101%;
}
.wall-tile-desc {
    height: 100%;
    padding: 5px 5px 5px 10px;

    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
}
.tile-desc-scroll {
    float: none;
    display: inline-block;
    margin-bottom: 12px;
    width: 100%;
}
.wall-tile-desc h4 {
    margin-top: 2px;
    margin-bottom: 10px;
}
.wall-tile-desc p {
    margin-bottom: 4px;
}
.wall-tile-desc p span.glyphicon {
    margin-right: 5px;
}
.wall-tile-desc span.glyphicon-tags, .wall-tile-desc span.glyphicon-user {
    position: relative;
    top: 4px;
}
.wall-tile-desc span.glyphicon-time {
    position: relative;
    top: 3px;
}
.wall-tile-desc hr {
    margin: 10px 0;
}
.wall-tile-desc .label.label-primary:last-child {
    margin-right: 10px;
}
#search-results-panel .wall-tile-desc span.glyphicon-user {
    margin-left: 5px;
}
.results-window h3 {
    margin-top: 100px;
    margin-bottom: 120px;
}

/* overlay window */
#overlay-window {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 73px 20px 20px;
    width: 100%;
    height: 100%;
    z-index: 5;
}
#overlay-inner {
    position: relative;
    background-color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
    max-height: 100%;
    overflow: auto;
    margin-bottom: 80px;
    padding: 15px 15px 0;
}
#overlay-close-btn, #overlay-fav-btn, .search-random-btn, .search-hide-btn {
    right: 20px;
    position: fixed;
    top: 73px;
    width: 45px;
    height: 45px;
    font-size: 25px;
    margin: 5px;
    padding-top: 7px;
    padding-left: 9px;
    z-index: 6;
}
#overlay-fav-btn {
    right: 70px;
    padding-left: 8px;
    padding-top: 8px;
}
#overlay-fav-btn:focus {
    background-color: #FFF;
}
#overlay-fav-btn .glyphicon-heart {
    color: rgb(220,20,60);
}
.container-fluid .search-random-btn, .container-fluid .search-hide-btn {
    position: absolute;
    float: right;
    top: 34px;
    right: 10px;
    border-bottom: 0;
    z-index: 0;
}
.search-random-btn, .search-hide-btn {
    padding-left: 9px;
    padding-top: 9px;
    font-size: 22px;
}
.container-fluid .search-hide-btn {
    right: 55px;
    border-right: #fff;
}
.container-fluid .search-random-btn {
    border-left: #fff;
}
#overlay-window .search-random-btn {
    right: 120px;
}
.overlay-media {
    margin-bottom: 15px;
    text-align: center;
}

/* upload & search pages */
/* upload tools */
#search-panel .panel-body {
    padding-left: 20px;
    padding-right: 20px;
}
#upload-settings-container .panel {
    border-top: 0;
}
#upload-settings-container h2 {
    position: absolute;
}
#upload-settings-container .nav.nav-tabs {
    margin-top: 42px;
}
#upload-settings-container .nav.nav-tabs a {
    margin-right: 0;
}
#upload-settings-container #tools h4 {
    font-family: 'Pacifico', cursive;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
#upload-settings-container #selection-tools .btn {
    width: 100%;
}
#upload-settings-container #operation-tools .btn {
    width: 100%;
}
#upload-settings-container .btn:not(:last-child) {
    margin-bottom: 3px;
}
.tool-selected {
    background-color: #eea236;
}

/* uploaded files */
#file-input {
    overflow-y: auto;
    max-height: 200px;
    text-align: center;
}
.upload-result-container img, .upload-result-container audio, .upload-result-container video {
    width: 100%;
}
.upload-result-container .media-container {
    margin-bottom: 5px;
}
.upload-result-container h4 {
    margin-top: 0;
    margin-bottom: 15px;
}
.tokenfield {
    padding: 5px;
}

#search-results-panel .results-window .panel-body {
    padding: 0;
}
#search-results-panel .results-window .media-left {
    padding: 0;
}
#search-results-panel #show-more {
    text-align: center;
}
#search-results-panel #show-more button {
    margin-bottom: 15px;
    border-radius: 25px !important;
    background-color: #f8f8f8;
    padding: 0 15px;
    display: none;
}
#search-results-panel #show-more button:hover, #search-results-panel #show-more button:focus {
    background-color: #e7e7e7;
}
#search-results-panel #show-more button h5 {
    font-family: 'Pacifico', cursive;
    margin-top: 12px;
}

#search-panel .form-group {
    padding: 5px 5px 0 5px;
    margin-bottom: 0;
}
.upload-result-panel .form-group {
    margin-bottom: 0;
}
.upload-result-panel .form-group .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}
.upload-result-panel .panel-body {
    padding-bottom: 5px;
}
.upload-result-panel .col-sm-12, .upload-result-panel .col-xs-12 {
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
}
#search-freewall {
    margin: 0 15px 15px 15px;
}
#search-freewall img {
    width: 100%;
}
#search-freewall .free-wall-tile, #upload-results-panel .upload-result-panel,
.overlay-media img, .overlay-media audio, .overlay-media video,
.upload-result-container img, .upload-result-container audio, .upload-result-container video {
    background: white;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    color: #333;
}
.wall-tile-desc .overlay-operations a {
    margin-right: 15px;
    margin-top: 15px;
}
#search-freewall .free-wall-tile .img {
    width: 100%;
    max-width: 100%;
    display: block;
}
#search-freewall .free-wall-tile {
    width: 221.2px;
}
#search-freewall .free-wall-tile img {
    margin: 0;
    padding: 0;
    display: block;
}

@media (max-width: 767px) {
    #upload-results-panel .img-preview {
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    #upload-results-panel .img-preview img {
        width: 50%;
    }
    .overlay-media {
        padding-top: 40px;
    }
    #overlay-content .col-xs-12, #overlay-content .col-sm-6, #overlay-content .col-md-4, #overlay-content .col-lg-5 {
        padding-left: 5px;
        padding-right: 5px;
    }
    #search-panel .panel-body {
        padding-bottom: 10px;
        padding-top: 0;
    }
    #search-panel #min-date-picker, #search-panel #max-date-picker {
        margin-bottom: 10px;
    }
    #overlay-close-btn {
        left: 4px;
        top: 48px;
        margin-left: 2px;
    }
    #overlay-fav-btn {
        left: 51px;
        top: 52px;
    }
    #overlay-window .search-random-btn {
        top: 52px;
        left: 102px;
    }
    .container-fluid .search-hide-btn {
        top: 52px;
    }
    #view-user-container img {
        margin: auto auto 15px;
    }
}
@media (min-width: 768px) {
    /* search results */
    .results-window .col-sm-6:nth-child(odd),
    .results-window .col-sm-3:nth-child(4n+1),
    .results-window .col-sm-3:nth-child(4n+2),
    .results-window .col-sm-3:nth-child(4n+3) {
        padding-right: 7px;
    }
    .results-window .col-sm-6:nth-child(even),
    .results-window .col-sm-3:nth-child(4n+2),
    .results-window .col-sm-3:nth-child(4n+3),
    .results-window .col-sm-3:nth-child(4n+4) {
        padding-left: 8px;
    }

    /* upload results */
    .upload-masonry-item {
        padding-right: 0;
    }
    #upload-results-panel {
        margin-right: 0;
    }
    .upload-result-panel {
        margin-bottom: 15px;
    }
    #upload-results-panel .panel-body {
        padding-bottom: 0;
    }

    #search-panel .panel-body {
        padding-top: 0;
        padding-bottom: 10px;
    }
}
@media (max-width: 991px) {
    .overlay-media {
        margin-right: 12px;
    }
    #overlay-window {
        padding: 51px 0 0;
    }
    #overlay-close-btn {
        right: 4px;
        top: 52px;
        margin-right: 2px;
    }
    #overlay-fav-btn {
        right: 51px;
        top: 52px;
    }
    .container-fluid .search-random-btn, .container-fluid .search-hide-btn {
        top: 9px;
    }
    #overlay-window .search-random-btn {
        top: 52px;
        right: 102px;
    }
    #upload-settings-container h2 {
        top: -42px;
    }
    #upload-settings-container .nav.nav-tabs {
        margin-top: 42px;
    }
}

@media (min-width: 1500px) {
    /* cap max size of upload tiles */
    #upload-results-panel {
        width: 1500px;
        margin: auto;
    }
}

/* login & reset password page */
.login-style-window {
    background-color: rgba(217, 237, 247, 0.63);
    height: 100vh;
    overflow: hidden;
    padding-top: 15px;
}
.login-style-window h2 {
    margin-bottom: 25px;
    margin-top: 15px;
    text-align: center;
}
.login-style-window button {
    width: 100%;
    margin-bottom: 15px;
}
.login-style-window .alert {
    margin-top: 15px;
    margin-bottom: 0;
}
#create-password-container.login-style-window {
    position: fixed;
}
#create-password-container.login-style-window button {
    margin-bottom: 0;
}
#create-password-container #error-window .alert {
    margin-top: 65px;
}

/* loading spinner */
.glyphicon.spinning {
    position: relative;
    transform-origin: 50% 50%;
    top: 2px;

    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
.btn-spinner {
    display: none;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* dropzone */
.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: white;
    opacity: 0.9;
}
.dropzone .dz-message {
    font-weight: 400;
}
.dropzone .dz-message .note {
    font-size: 1em;
    font-weight: 200;
    display: block;
    margin-top: 1.4rem;
}
#dropzone-panel {
    position: relative;
    z-index: 7;
}

/* admin */
#admin-container .tab-content .panel-default {
    border-top: 0;
}
#admin-container .form-group {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 5px;
}
@media (max-width: 767px) {
    .js-tabcollapse-panel-body .panel, .js-tabcollapse-panel-body .panel-body {
        border: 0;
        margin: 0;
        padding: 0;
        box-shadow: none;
    }
}
#admin-container .btn-primary {
    margin-top: 28px;
    padding-top: 5px;
}