{{ .NavbarHTML }}

<div class="container-fluid">
    <div class="row">

        <div class="col-xs-12 login-style-window" id="create-password-container">
            <div class="row">
                <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h2>Create Password</h2>

                            <p><strong>Welcome to the {{ .BrandName }}, {{ .SessionUser.Forename }}!</strong></p>
                            <p>Your password must...</p>
                            <ul>
                                <li>be a minimum of 8 characters long.</li>
                                <li>contain at least one lowercase and uppercase letter.</li>
                                <li>contain at least one number.</li>
                                <li>contain at least at least one special character.</li>
                            </ul>

                            <form action="/reset/set" method="post" id="create-password-form">
                                <!-- password -->
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" autofocus>
                                </div>

                                <!-- confirm password -->
                                <div class="form-group">
                                    <label for="confirm-password">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirm-password" name="confirm-password">
                                </div>

                                <button type="submit" class="btn btn-primary pull-right" id="create-password-btn">
                                    <strong class="btn-label">Create Password</strong>
                                    <span class="btn-spinner glyphicon glyphicon-refresh spinning"></span>
                                </button>
                            </form>

                            <div id="error-window"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>