<!-- file list -->
{{ range $key, $file := .Files }}

<div class="col-sm-6">

    <div class="panel panel-default result-panel">
        <div class="panel-body">
            
            <div class="media">
                <div class="media-left">
                    <a href="/static/content/{{ $file.UUID }}.{{ $file.Extension }}" target="_blank">
                        {{ if eq $file.MediaType "image" }}
                            <img class="media-object" src="/static/content/{{ $file.UUID }}.{{ $file.Extension }}">
                        {{ end }}
                        {{ if eq $file.MediaType "video" }}
                            <img class="media-object" src="/static/img/play.png">
                        {{ end }}
                        {{ if eq $file.MediaType "audio" }}
                            <img class="media-object" src="/static/img/play.png">
                        {{ end }}
                        {{ if eq $file.MediaType "text" }}
                            <img class="media-object" src="/static/content/img/read.png">
                        {{ end }}
                        {{ if eq $file.MediaType "other" }}
                            <img class="media-object" src="/static/content/img/download.png">
                        {{ end }}
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">
                        {{ if eq $file.MediaType "image" }}
                            <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                        {{ end }}
                        {{ if eq $file.MediaType "video" }}
                            <span class="glyphicon glyphicon-video" aria-hidden="true"></span>
                        {{ end }}
                        {{ if eq $file.MediaType "audio" }}
                            <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                        {{ end }}
                        {{ if eq $file.MediaType "text" }}
                            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                        {{ end }}
                        {{ if eq $file.MediaType "other" }}
                            <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                        {{ end }}

                        <strong>{{ $file.Description }}</strong>
                    </h4>

                    <!-- tags -->
                    {{ if $file.Tags }}
                        <p>Tags:
                        {{ range $key, $tag := $file.Tags }}
                            <span class="label label-success">{{ $tag }}</span>
                        {{ end }}
                        </p>
                    {{ end }}
        
                    <!-- people -->
                    {{ if $file.People }}
                        <p>People:
                        {{ range $key, $person := $file.People }}
                            <span class="label label-primary">{{ $person }}</span>
                        {{ end }}
                        </p>
                    {{ end }}
                </div>
            </div>

        </div>
    </div>
</div>

{{ end }}