<div class="col-xs-12 login-style-window" id="forgotten-password-container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>Reset Password</h2>

                    <p>Use the form below to reset a forgotten password.</p>

                    <form action="/reset/request" method="post" id="reset-form">
                        <!-- email -->
                        <div class="form-group">
                            <label for="email-input">Email</label>
                            <input type="text" class="form-control" id="email-input" name="email" autofocus>
                        </div>

                        <button type="submit" class="btn btn-primary pull-right" id="reset-btn">
                            <strong class="btn-label">Submit</strong>
                            <span class="btn-spinner glyphicon glyphicon-refresh spinning"></span>
                        </button>
                    </form>

                    <a href="/login">Return to login...</a>
                    <div id="error-window"></div>
                </div>
            </div>

        </div>
    </div>
</div>
