<div class="col-xs-12 login-style-window" id="login-container">
    <div class="row">
        <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-4 col-lg-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{ .BrandName }} Log In</h2>

                    <form action="/login" method="post" id="login-form">
                        <!-- email -->
                        <div class="form-group">
                            <label for="email-input">Email</label>
                            <input type="text" class="form-control" id="email-input" name="email" autofocus>
                        </div>

                        <!-- password -->
                        <div class="form-group">
                            <label for="password-input">Password</label>
                            <input type="password" class="form-control" id="password-input" name="password">
                        </div>

                        <button type="submit" class="btn btn-primary pull-right" id="login-btn">
                            <strong class="btn-label">Log In</strong>
                            <span class="btn-spinner glyphicon glyphicon-refresh spinning"></span>
                        </button>

                        <a href="/reset">Forgotten password?</a>
                    </form>

                    <div id="error-window"></div>
                </div>
            </div>

        </div>
    </div>
</div>
