<!-- navbar -->
<nav class="navbar navbar-default">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <div id="nav-animated-icon">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </div>
        </button>
        <!-- brand -->
        <a class="navbar-brand" href="/">{{ .BrandName }}</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

        <div id="navbar-border"></div>

        {{ if eq .SessionUser.PasswordResetRequired false }}
            <!-- left side -->
            <ul class="nav navbar-nav">
                <li {{ if eq .NavbarFocus "search" }}class="active"{{ end }}><a href="/">Memories</a></li>

                <li {{ if eq .NavbarFocus "upload" }}class="active"{{ end }}><a href="/upload">Upload</a></li>

                <li {{ if eq .NavbarFocus "users" }}class="active"{{ end }}><a href="/users">Users</a></li>
            </ul>
        {{ end }}

        <!-- right side -->
        <ul class="nav navbar-nav navbar-right">
            {{ if eq .SessionUser.PasswordResetRequired false }}
                {{ if gt .SessionUser.Type 1 }}
                    <li {{ if eq .NavbarFocus "admin" }}class="active"{{ end }}><a href="/admin">Admin</a></li>
                {{ end }}

                <li {{ if eq .NavbarFocus "user" }}class="active"{{ end }}><a href="/user/{{ .SessionUser.Username }}">Profile</a></li>
            {{ end }}

            <li><a href="/logout">Log Out</a></li>
        </ul>
    </div>

</nav>