<div class="col-xs-12" id="register-container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h2>{{ .BrandName }} Registration</h2>

                    <p>Use the form below to...</p>
                    <ul>
                        <li>request access for a new user.</li>
                        <li>reset a forgotten password for an existing user.</li>
                    </ul>
                    <br>

                    <form action="/register" method="post" id="register-form">
                        <!-- email -->
                        <div class="form-group">
                            <label for="email-input">Email</label>
                            <input type="text" class="form-control" id="email-input" name="email" autofocus>
                        </div>

                        <div class="register-btn-container">
                            <button type="submit" class="btn btn-primary pull-right" id="register-btn">
                                <strong class="btn-label">Request Access</strong>
                                <span class="btn-spinner glyphicon glyphicon-refresh spinning"></span>
                            </button>
                        </div>

                        <a href="/login">Login...</a>
                    </form>

                    <div id="error-window"></div>
                </div>
            </div>

        </div>
    </div>
</div>
