{{ .NavbarHTML }}

<div class="container-fluid">

    <!-- display all uploaded files -->
    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <h2 class="section-header">Memories</h2>

            <!-- buttons above form -->
            <button class="btn btn-default search-hide-btn">
                <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            </button>
            <button class="btn btn-default search-random-btn">
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
            </button>

            <!-- search options -->
            <div class="panel panel-default" id="search-panel">
                <div class="panel-body">
                    <div class="row">

                        <form>
                            <!-- description -->
                            <div class="col-sm-6 form-group">
                                <label for="desc-search-input">Description Search</label>
                                <input type="text" id="desc-search-input" class="form-control input-sm">
                            </div>

                            <!-- date inputs -->
                            <div class="col-xs-6 col-sm-3 form-group">
                                <label for="min-date-search-input">Min Date</label>
                                <div class='input-group date input-group-sm' id='min-date-picker'>
                                    <input type='text' class="form-control" id="min-date-search-input">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                            <div class="col-xs-6 col-sm-3 form-group">
                                <label for="max-date-search-input">Max Date</label>
                                <div class='input-group date input-group-sm' id='max-date-picker'>
                                    <input type='text' class="form-control" id="max-date-search-input">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>

                            <!-- tags -->
                            <div class="col-sm-6 form-group">
                                <div class="tags-container">
                                    <label for="tags-search-input">Tags Filter</label>
                                    <input type="text" id="tags-search-input" class="form-control input-sm">
                                </div>
                            </div>

                            <!-- people -->
                            <div class="col-sm-6 form-group">
                                <div class="tags-container">
                                    <label for="people-search-input">People Filter</label>
                                    <input type="text" id="people-search-input" class="form-control input-sm">
                                </div>
                            </div>

                            <!-- media_type -->
                            <div class="col-sm-6 form-group">
                                <label for="type-search-input">File Type Filter</label>
                                <input type="text" id="type-search-input" class="form-control input-sm">
                            </div>

                            <!-- number of results per page -->
                            <div class="col-xs-6 col-sm-3 form-group">
                                <label for="count-search-input">Memories Per Page</label><br>
                                <select id="count-search-input" class="form-control input-sm">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="50">50</option>
                                </select>
                            </div>

                            <!-- results view format (detailed or tiled) -->
                            <div class="col-xs-6 col-sm-3 form-group">
                                <label for="view-search-input">View Format</label><br>
                                <input type="checkbox" id="view-search-input" data-width="100%" data-height="18" data-size="small">
                            </div>
                        </form>

                    </div>
                </div>
            </div>

            <div id="search-results-panel">
                <div class="row">

                    <!-- file list -->
                    <div class="results-window">
                        <div class="detail-wall">

                        </div>
                        <div id="search-freewall">

                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div id=""></div>
                        <div id="show-more">
                            <button type="submit" class="btn btn-default">
                                <h5>Show more memories...</h5>
                                <span class="btn-spinner glyphicon glyphicon-refresh spinning"></span>
                            </button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>