{{ .NavbarHTML }}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-offset-2 col-md-8" id="upload-settings-container">
            <h2 class="section-header">File Upload</h2>

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="pull-right"><a href="#tools" aria-controls="tools" role="tab" data-toggle="tab">Tools</a></li>
                <li role="presentation" class="active pull-right"><a href="#upload" aria-controls="upload" role="tab" data-toggle="tab">Upload</a></li>
            </ul>

            <div class="tab-content">

                <!-- dropzone -->
                <div role="tabpanel" class="tab-pane active" id="upload">
                    <div class="panel panel-default" id="dropzone-panel">
                        <div class="panel-body">
                            <div id="max-file-size" data-size="{{ .MaxFileUploadSize }}"></div>
                            <div id="max-description-length" data-size="{{ .MaxDescriptionLength }}"></div>
                            <div id="max-tags-count" data-size="{{ .MaxTagsCount }}"></div>
                            <div id="max-people-count" data-size="{{ .MaxPeopleCount }}"></div>

                            <p>Add comma separated tags and people in order to group memories and to identify the people who were present. Start typing in the tags and people fields for previously used suggestions.</p>

                            <p>The maximum file upload size is {{ formatByteCount .MaxFileUploadSize true }}.</p>

                            <!-- file dropzone -->
                            <form action="/upload/temp" class="dropzone" id="file-input">
                                <div class="dz-message needsclick">
                                    <strong>Drop files here or click to upload.</strong><br>
                                    <span class="note needsclick">(Files are not published instantly after upload - you'll be able to add details first!)</span>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

                <!-- tools -->
                <div role="tabpanel" class="tab-pane" id="tools">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <p>Use the tools below to select multiple uploaded files which can then be processed all at once. When selected, a file will have an orange border surrounding it.</p>

                            <div class="row">
                                <div class="col-sm-4" id="selection-tools">
                                    <h4>Selection</h4>

                                    <button type="button" class="btn btn-sm btn-default" id="select-all-btn">Select All</button>
                                    <button type="button" class="btn btn-sm btn-default" id="deselect-all-btn">Deselect All</button>
                                    <button type="button" class="btn btn-sm btn-default" id="select-manual-btn">Manual Select</button>
                                </div>

                                <div class="col-sm-4" id="operation-tools">
                                    <h4>Edit</h4>

                                    <button type="button" class="btn btn-sm btn-primary" id="set-description-btn"><strong>Set Description</strong></button>
                                    <button type="button" class="btn btn-sm btn-primary" id="set-tags-btn"><strong>Set Tags</strong></button>
                                    <button type="button" class="btn btn-sm btn-primary" id="set-people-btn"><strong>Set People</strong></button>
                                </div>

                                <div class="col-sm-4" id="operation-tools">
                                    <h4>Delete</h4>

                                    <button type="button" class="btn btn-sm btn-danger" id="delete-selected-btn"><strong>Delete Selected</strong></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-md-12">

            <!-- unpublished files -->
            <div class="row" id="upload-results-panel">
                {{ .UploadFormsHTML }}
            </div>
        </div>

    </div>

</div>

<!-- tools form modal -->
<div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="upload-modal-label"></h4>
            </div>
            <div class="modal-body">
                <p></p>
                <input type="text" class="form-control" placeholder="">
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" id="upload-modal-submit">Submit</button>
            </div>
        </div>
    </div>
</div>