{{ .NavbarHTML }}

<div class="container-fluid">

    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <h2 class="section-header">File Upload</h2>

            <!-- help -->
            <div class="panel panel-default">
                <div class="panel-body">
                    <p></p>
                </div>
            </div>

            <!-- dropzone -->
            <div class="panel panel-default">
                <div class="panel-body">

                    <!-- file dropzone -->
                    <form action="/upload/temp" class="dropzone" id="file-input">
                        <div class="dz-message needsclick">
                            <strong>Drop files here or click to upload.</strong><br>
                            <span class="note needsclick">(Files are not published instantly after upload - you'll be able to add details first!)</span>
                        </div>

                    </form>

                </div>
            </div>

            <!--<div id="error-window"></div>-->

        </div>

        <div class="col-md-12">

            <!-- unpublished files -->
            <div class="row" id="upload-results-panel">
                {{ .UploadFormsHTML }}
            </div>
        </div>

    </div>

</div>