<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 upload-masonry-item">

    <div class="panel panel-default upload-result-panel">
        <div class="panel-body">
            <div class="upload-result-container">

                <!-- temp uploaded file -->
                <div class="row">
                    <div class="col-sm-12">

                        <div class="media-container">
                            <!-- file name title -->
                            <h4>
                            {{ if eq .UploadedFile.MediaType "image" }}
                                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            {{ end }}
                            {{ if eq .UploadedFile.MediaType "video" }}
                                <span class="glyphicon glyphicon-facetime-video" aria-hidden="true"></span>
                            {{ end }}
                            {{ if eq .UploadedFile.MediaType "audio" }}
                                <span class="glyphicon glyphicon-music" aria-hidden="true"></span>
                            {{ end }}
                            {{ if eq .UploadedFile.MediaType "text" }}
                                <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
                            {{ end }}
                            {{ if eq .UploadedFile.MediaType "other" }}
                                <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
                            {{ end }}

                                <strong>{{ .UploadedFile.Name }}.{{ .UploadedFile.Extension }}</strong>
                            </h4>

                            <!-- contents -->
                            {{ if eq .UploadedFile.MediaType "image" }}
                                <img src="/temp_uploaded/{{ .UploadedFile.UploaderUsername }}/{{ .UploadedFile.UUID }}.{{ .UploadedFile.Extension }}" class="img-responsive">
                            {{ end }}

                            {{ if eq .UploadedFile.MediaType "audio" }}
                                <audio src="/temp_uploaded/{{ .UploadedFile.UploaderUsername }}/{{ .UploadedFile.UUID }}.{{ .UploadedFile.Extension }}" controls>
                                    Your browser does not support the audio element.
                                </audio>
                            {{ end }}

                            {{ if eq .UploadedFile.MediaType "video" }}
                                <video src="/temp_uploaded/{{ .UploadedFile.UploaderUsername }}/{{ .UploadedFile.UUID }}.{{ .UploadedFile.Extension }}" controls controlsList="nodownload">
                                    Your browser does not support HTML5 video.
                                </video>
                            {{ end }}
                        </div>
                    </div>

                    <!-- details for temp image -->
                    <form action="/upload/publish" method="post" enctype="multipart/form-data">

                        <input type="hidden" name="fileUUID" value="{{ .UploadedFile.UUID }}">

                        <!-- description field -->
                        <div class="col-sm-12 form-group">
                            <label for="description-input">Description Search</label>
                            <input type="text" class="form-control description-input" name="description-input">
                        </div>

                        <!-- tags -->
                        <div class="col-sm-12 form-group">
                            <label for="tags-input">Tags Filter</label>
                            <input type="text" class="form-control tags-input" name="tags-input">
                        </div>

                        <!-- people -->
                        <div class="col-sm-12 form-group">
                            <label for="people-input">People Filter</label>
                            <input type="text" class="form-control people-input" name="people-input">
                        </div>

                        <!-- buttons -->
                        <div class="col-sm-12 form-group">
                            <button type="button" class="btn btn-danger pull-left">
                                <span class="btn-label glyphicon glyphicon-trash" aria-hidden="true"></span>
                                <span class="btn-spinner glyphicon glyphicon-refresh spinning"></span>
                            </button>
                            <button type="button" class="btn btn-primary pull-right" data-toggle="tooltip" title="">
                                <strong class="btn-label">Publish Memory</strong>
                                <span class="btn-spinner glyphicon glyphicon-refresh spinning"></span>
                            </button>
                        </div>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>