{{ .NavbarHTML }}

<div class="container-fluid" id="view-user-container">
    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <h2 class="section-header">{{ .User.Forename }}'s Profile</h2>
            <input type="hidden" id="username" value="{{ .User.Username }}">

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <!-- profile picture -->
                        <div class="col-sm-3">
                        {{ if eq .User.Image "" }}
                            <img class="img-responsive" src="/static/img/user_default.png">
                        {{ end }}
                        {{ if not (eq .User.Image "") }}
                            <img class="img-responsive" src="/static/img/user/{{ .User.Username }}/{{ .User.Image }}">
                        {{ end }}
                        </div>

                        <!-- profile details -->
                        <div class="col-sm-9">
                            <div class="row">
                                <div class="wall-tile-desc">
                                    <div class="tile-desc-scroll">
                                        <h4>
                                            <strong>
                                            {{ .User.Forename }} {{ .User.Surname }}
                                            </strong>
                                        </h4>

                                        <hr>

                                        <!-- left column -->
                                        <div class="col-sm-6">
                                            <p>
                                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                                Username: <strong>{{ .User.Username }}</strong>
                                            </p>

                                            <p>
                                                <span class="glyphicon glyphicon-space" aria-hidden="true"></span>
                                                Account Type: <strong>
                                                {{ if eq .User.Type 0 }} Standard {{ end }}
                                                {{ if eq .User.Type 1 }} Guest {{ end }}
                                                {{ if eq .User.Type 2 }} Admin {{ end }}
                                                {{ if eq .User.Type 3 }} Super Admin {{ end }}
                                                </strong>
                                            </p>

                                            <p>
                                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                                Email: <strong>{{ .User.Email }}</strong>
                                            </p>

                                            <p>
                                                <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
                                                Date Created: <strong>{{ formatEpoch .User.CreatedTimestamp }}</strong>
                                            </p>

                                            <p>
                                            {{ if eq .User.AccountState 0 }}
                                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                                <strong>Awaiting email confirmation</strong>
                                            {{ end }}
                                            {{ if eq .User.AccountState 1 }}
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                <strong>Registered</strong>
                                            {{ end }}
                                            {{ if eq .User.AccountState 2 }}
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                <strong>Blocked</strong>
                                            {{ end }}
                                            </p>

                                        </div>

                                        <!-- right column -->
                                        <div class="col-sm-6">
                                            <p>
                                                <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                                                Last Logged In: <strong>{{ formatEpoch .User.LoginTimestamp }}</strong>
                                            </p>
                                            <p>
                                                <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
                                                Published Memories: <strong>{{ .User.PublishedCount }}</strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- manage user settings -->
            <h2 class="section-header">Manage</h2>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Change password</p>
                    <p>Upload new profile pic</p>
                </div>
            </div>

            <!-- pending admin requests -->
            <h2 class="section-header">Admin Requests</h2>

            <div class="panel panel-default">
                <div class="panel-body">
                    <p>Pending admin requests here</p>
                </div>
            </div>

        </div>
    </div>
</div>