{{ .NavbarHTML }}

<div class="container-fluid">

    <!-- display all uploaded files -->
    <div class="row">
        <div class="col-md-offset-2 col-md-8">

            <h2 class="section-header">Users</h2>

            <!-- search options -->
            <div class="detail-wall">

                <div class="row">
                    {{ range $key, $user := .Users }}
                    <div class="col-sm-6">
                        <div class="wall-tile">

                            <a href="/user/{{ $user.Username }}" target="_blank" data-UUID="{{ $user.Username }}">
                                <div class="wall-tile-media">
                                    <a href="/user/{{ $user.Username }}" class="img-fade">
                                        {{ if eq $user.Image "" }}
                                            <img class="img-responsive" src="/static/img/user_default.png">
                                        {{ end }}
                                        {{ if not (eq $user.Image "") }}
                                            <img class="img-responsive" src="/static/img/user/{{ $user.Username }}/{{ $user.Image }}">
                                        {{ end }}
                                    </a>
                                </div>
                            </a>

                            <div class="wall-tile-desc">
                                <div class="tile-desc-scroll">
                                    <h4>
                                        <strong>
                                            <a href="/user/{{ $user.Username }}">{{ $user.Forename }} {{ $user.Surname }}</a>
                                            {{ if eq $user.Type 1 }} (Admin) {{ end }}
                                            {{ if eq $user.Type 2 }} (Super Admin) {{ end }}
                                            {{ if eq $user.Type 3 }} (Guest) {{ end }}
                                        </strong>
                                    </h4>

                                    <p>
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                        {{ $user.Email }}
                                    </p>

                                    <p>
                                        {{ if eq $user.AccountState 0 }}
                                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                                            Awaiting email confirmation
                                        {{ end }}
                                        {{ if eq $user.AccountState 1 }}
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            Registered
                                        {{ end }}
                                        {{ if eq $user.AccountState 2 }}
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            Blocked
                                        {{ end }}
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    {{ end }}
                </div>

            </div>

        </div>
    </div>
</div>