<script src="/static/js/lib/dropzone.min.js" type="text/javascript"></script>
<script src="/static/js/lib/moment.min.js" type="text/javascript"></script>
<script src="/static/js/lib/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
<script src="/static/js/lib/bootstrap-tokenfield.min.js" type="text/javascript"></script>
<script src="/static/js/lib/masonry.min.js" type="text/javascript"></script>

<script src="/static/js/search.js" type="text/javascript"></script>
<script src="/static/js/upload.js" type="text/javascript"></script>